<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
    <link rel="stylesheet" href="/styles/styles.css"/>
    <title>mylightsailwebsite</title>
</head>

<header>

    <div class="topnav" id="myTopnav">

        <div class="navbar-header">
            <a class="navbar-brand" href="/home">mylightsailwebsite</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="https://github.com/95maddycode/mylightsailwebsite">Github</a></li>
            <li><a href="https://www.linkedin.com/feed/">Contact</a></li>
        </ul>
    </div>

</header>


